[Unit]
Description=Internet Dynamic DNS Client
Documentation=man:inadyn
Documentation=man:inadyn.conf
Documentation=file:/usr/share/doc/inadyn/README.md
ConditionPathExists=/usr/etc/inadyn.conf
After=network-online.target
Requires=network-online.target

[Service]
Type=simple
EnvironmentFile=-/usr/etc/default/inadyn
ExecStart=/usr/sbin/inadyn -n -s $INADYN_OPTS $INADYN_ARGS

[Install]
WantedBy=multi-user.target
